<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- 填写自己的mysql用户名和密码， 还有连接的url要加上"?serverTimezone=GMT%2B8"不然会报错 -->
<configuration>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver" />
                <property name="url" value="jdbc-url:jdbc:mysql://47.111.1.51:3306/ots_lima_test?characterEncoding=UTF-8&allowMultiQueries=true&serverTimezone=Asia/Shanghai"/>
                <property name="username" value="ots_lima" />
                <property name="password" value="Ots_lima@123" />
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mapper/TestDataMapper.xml"/>
    </mappers>
</configuration>